- Variables are Containers that store data in a Python Program

-  Variables can store different types of data types such as string, integer, float, boolean

-  Rules of naming variables - can't use reserve words such as def, True
     - Variable names must start with a letter or an underscore_
     - It can't contain space or special characters.
     - Underscore _ is avalied character and can be present at any place in a variable name

In [3]:
can = "beans"

In [4]:
print(can)

beans

In [5]:
type(can)

str

In [6]:
pizza = 100

In [7]:
type(pizza)

int

In [13]:
soda = 2.99
ice_cream = 100

In [14]:
total = pizza + soda + ice_cream

In [15]:
total

202.99

In [16]:
type(total)

float

In [18]:
above_thresold = total > 200

In [19]:
type(above_thresold)

bool

In [20]:
burger = "burger"
food = burger

### both burger and good is using same memory address

In [21]:
id(burger)

4430852144

In [22]:
id(food)

4430852144

In [2]:
first_name = "Monish"
last_name = "Mamilla"
type(first_name)

str

#### We can use + or f to generate new String

In [3]:
name = first_name + " " + last_name
print(name)

Monish Mamilla

In [4]:
name_formatted = f"{first_name} {last_name}"
print(name_formatted)

Monish Mamilla

In [5]:
age = 16
info = f"{first_name} {last_name} is {age} year old"
info

'Monish Mamilla is 16 year old'

##### String slice operation

In [6]:
name[0]

'M'

In [7]:
name[1]

'o'

In [8]:
name[0:5]

'Monis'

In [9]:
name[:-1]

'Monish Mamill'

In [10]:
# Last Character
name[-1]

'a'

In [11]:
# Length of the String - includes space
len(name)

14

In [19]:
# String objects are immutable, once object created, you can't change
# we can add double quotes, but need to include inside single quote
recipe = "Burger is nice"

recipe_ = 'Burger "is nice" '

In [20]:
burger_ = "Burger"

# We use in to check Burger word exist in the recipe string
burger_ in recipe

True

In [21]:
# milk is not exist in the recipe string
"milk" in recipe

False

In [23]:
# find the location of burger string location in the recipe. Index starts from 0
recipe.find(burger_)

0

In [24]:
s = "patient was charged $100 for lab test"
s

'patient was charged $100 for lab test'

In [25]:
# show available functions in the string object
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [28]:
# How to replace $100 with $10. Original String won't change.String is immutable
s1 = s.replace("$100","$10")
print("s1",s1)
print("original string 's' ",s)

s1 patient was charged $10 for lab test
original string 's'  patient was charged $100 for lab test

In [30]:
s2 = s.upper()
print(f"uppercase of s is {s2} ")

uppercase of s is PATIENT WAS CHARGED $100 FOR LAB TEST

In [31]:
s3 = s.lower()
print(f" lower case of s is {s3} ")

 lower case of s is patient was charged $100 for lab test

In [32]:
'4a10'.isdigit()

False

In [33]:

s.find("$100")

20

In [35]:
# $100 index position in the string
s.index("$100")

20

In [36]:
tickers = "AAPL|NVDA|META|MSFT"
tickers.split("|")

['AAPL', 'NVDA', 'META', 'MSFT']

In [37]:
tickers.split("|",maxsplit=2)

['AAPL', 'NVDA', 'META|MSFT']

In [42]:
# We can remove empty space using strip function
s4 = s3 +"\t\t"+s3
print(s4)
s4.strip()

patient was charged $100 for lab test		patient was charged $100 for lab test

'patient was charged $100 for lab test\t\tpatient was charged $100 for lab test'